/* This file is for your main application css. */
.help-block {
	color: #EE6E73;
	text-transform: capitalize;
}

.navbar-li {
	font-size: 16px !important;
}

.navbar-li:hover {
	background-color: transparent;
}

.info-topic {
	width: 100%;
	text-align: center;
	border-radius: 5px;
	padding: 20px 40px;  
}